doctype html
html
    head
        title= title
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.35/css/uikit.min.css" )
        script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.35/js/uikit.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.35/js/uikit-icons.min.js")
    //link(rel='stylesheet', href='/stylesheets/style.css')
    body
        nav.uk-navbar-container(uk-navbar='')
            .uk-navbar-left
                ul.uk-navbar-nav
                    li.uk-active
                        a(href='#') Active
                    li
                        a(href='#') Parent
                        .uk-navbar-dropdown
                            ul.uk-nav.uk-navbar-dropdown-nav
                                li.uk-active
                                    a(href='#') Active
                                li
                                    a(href='#') Item
                                li
                                    a(href='#') Item
                    li
                        a(href='#') Item
            .uk-navbar-right
                ul.uk-navbar-nav
                    li
                        if(user)
                            p welcome #{user.email}
                        else
                            a(href='/users/login') SIGN IN


        block content

